<h1>ツイート一覧</h1>

<% @tweets.each do |e| %>
  <p>
    <%= e.message %>
    <%= User.find(e.user_id).uid %>
    <% if e.likes.empty? %>
        <%= link_to '♡', likes_path(tweet_id: e.id), method: :post %>
    <% else %>
        <%= link_to '♥', like_path(e), method: :delete %>
    <% end %>
    <%= link_to '削除', tweet_path(e), method: :delete %>
  </p>
<% end %>

<% if session[:login_uid] %>
    <%= link_to 'ツイートする', new_tweet_path %>
<% end %>

<% if session[:login_uid] %>
    <%= link_to 'ログアウト', top_logout_path %>
<% else %>
    <%= link_to 'ログイン', top_login_form_path %>
<% end %>